<mat-card class="initiate-chat">
  <div class="input-grid">
    <mat-form-field appearance="outline" class="chat-input">
      <mat-label>Recipient ID</mat-label>
      <input matInput [(ngModel)]="recipientId" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="chat-input">
      <mat-label>First message</mat-label>
      <input matInput [(ngModel)]="newMessageText" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="initiateChat()">Start new chat</button>
  </div>
</mat-card>

<mat-card class="chat-list">
  <mat-list>
    <mat-list-item  class="my-chat-item" *ngFor="let chat of chats" (click)="selectChat(chat.id)">
      Chat with ID: {{chat.id}}
    </mat-list-item>
  </mat-list>
</mat-card>
