:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  height: 100%; /* Add this line */
}

:host > .messages {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  flex-grow: 1;
}

:host > .send-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

:host > .send-message > input {
  flex-grow: 1;
  margin-right: 1em;
}

.input-grid {
  display: grid;
  grid-template-columns: 3fr auto; /* Update this line */
  gap: 1em;
  align-items: center; /* This will ensure the button and inputs are same height */
}

.chat-input {
  box-sizing: border-box;
}
