<div class="login-container">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" placeholder="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" placeholder="password" type="password">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">Login</button>

  <div *ngIf="authorized">
    <p>You authorized as {{user_email}}</p>
  </div>
</div>
